body {
  font-family: "Roboto Slab", chivo;
  line-height: 1.6;
  background-color: #90c2e7;
  margin: 0;
  padding: 0;
  color: #fcf7f8;
}

.navbar {
  background-color: #90c2e7;
  padding: 1rem;
}

.navbar-brand img {
  max-width: 100%;
  height: auto;
}

.nav-link {
  color: #e7dfe8 !important;
}

.nav-link:hover {
  color: #e7dfe8 !important;
}

.header {
  background-color: #af9fa5;
  padding: 2rem;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(217, 185, 185, 0.1);
}

.header p {
  font-size: 2.5rem;
  color: #e7dfe8;
}

footer {
  color: af9fa5;
  text-align: center;
  padding: 1rem;

  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.container {
  background-color: #90c2e7;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(237, 227, 228);
  align-items: left;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ede3e4;
  border-radius: 4px;
}

.subject-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.subject-row input {
  flex: 1;
}

.add-subject {
  background-color: #af9fa5;
  color: #e7dfe8;
  border: 2px solid #ede3e4;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.add-subject:hover {
  background-color: #af9fa5;
  transition: ease-in-out;
  color: #ede3e4;
}
footer a {
  text-decoration: underline;
  color: #ede3e4;
}